*.o

*.tsp

*.dSYM

#no main executable
PSEP

#no softlink to problems folder or sloc script
problems
sloc

#no tramp history from using local emacs to ssh
.tramp_history

#no compile commands
.clang_complete
