#no .o files
*.o

#no TSPlib problems
*.tsp

#no dSYM

*.dSYM

#no main executable
PSEP

#no softlink to problems folder or sloc script
problems
sloc

#no tramp history from using local emacs to ssh
.tramp_history