*.o
objects

*.dSYM

#no main executable
camargue

#no softlink to problems folder or scripts
problems
sloc
run_LKH.sh
LKH

#no tramp history from using local emacs to ssh
.tramp_history

#no compile commands
.clang_complete

#no temporary files created by emacs
*~

#none of the doxygen output
doc

dp_old

#ignore gv files, softlinks, and output
*.png
*.gv
viz
circo

#ignore my own notes/orgs
*.txt
*.org

#ignore test data and solutions
*.x
*.sol
test_data
.ycm_extra_conf.py
